@font-face {
    font-family: 'Poppins'; /* Give your font a name */
    src: url('fonts/Poppins-Medium.ttf') format('woff2');
}

.info-ico {
    margin-top: -6px;
}

.tooltip-inner {
    white-space: pre-line !important;
}